body{
  background-color: #d0bf9c;

}
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.search-input {
  padding: 8px;
  border: 1px solid #040500;
  border-radius: 4px;
  margin-bottom: 16px;
  width: 200px;
}

.filter-table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 16px;
  border: 1px solid #090000;
}

.filter-table th,
.filter-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e95959;
  border: 1px solid #100000;
}

.filter-table th {
  background-color: #236b95;
}

.filter-table tbody tr:hover {
  background-color: #f9f9f9;
}
