body {
    background-color: rgb(208, 71, 94);
  }
  
.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(98, 175, 223); /* Set the background color to pink */
  }
  
  /* Rest of the CSS styles for .counter */
  .counter h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
  }
  
  .counter p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
  }
  
  .counter p.count-message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #5191b0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #62bddb;
  }
  
  button:disabled {
    background-color: #55e4c7;
    cursor: not-allowed;
  }
  